---
import { getCollection } from "astro:content";
import PageMeta from "../../components/PageMeta.astro";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils/formatDate";

const posts = await getCollection("blog");
const publishedPosts = posts.filter(
  (post) => !post.data.draft || import.meta.env.DEV,
);
---

<Layout>
  <Fragment slot="head">
    <PageMeta
      title="Blog - Valentin GEREST"
      description="Blog de Valentin GEREST"
      author="Valentin GEREST"
    />
  </Fragment>
  <main class="mx-auto w-full max-w-5xl px-3 pb-20">
    <h1 class="mb-4 text-2xl font-bold">Blog</h1>
    <section class="grid grid-cols-1 gap-4 md:grid-cols-3">
      {
        publishedPosts.map((post) => (
          <a href={`/blog/${post.id}`}>
            <article class="flex flex-col gap-2 rounded-lg border p-4">
              <img src={post.data.image} alt="illustration" class="w-full" />
              <p class="text-neutral-600 dark:text-neutral-300">
                {formatDate(post.data.created)}
              </p>
              <p class="block font-bold">{post.data.title}</p>
              <p class="text-sm text-neutral-600 dark:text-neutral-300">
                {post.data.description}
              </p>
            </article>
          </a>
        ))
      }
      {publishedPosts.length === 0 && <p>Aucun article publié</p>}
    </section>
  </main>
</Layout>
