---
import { getCollection } from "astro:content";
import PageMeta from "../../components/PageMeta.astro";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils/formatDate";

const posts = await getCollection("blog");
---

<Layout>
  <Fragment slot="head">
    <PageMeta
      title="Blog - Valentin GEREST"
      description="Blog de Valentin GEREST"
      author="Valentin GEREST"
    />
  </Fragment>
  <main class="max-w-5xl w-full mx-auto px-3 pb-20">
    <h1 class="text-2xl font-bold mb-4">Blog</h1>
    <section class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {
        posts.map((post) => (
          <a href={`/blog/${post.id}`}>
            <article class="flex flex-col gap-2 border p-4 rounded-lg">
              <img src={post.data.image} alt="illustration" class="w-full" />
              <p class="text-neutral-600 dark:text-neutral-300">
                {formatDate(post.data.created)}
              </p>
              <p class="block font-bold">{post.data.title}</p>
              <p class="text-neutral-600 text-sm dark:text-neutral-300">
                {post.data.description}
              </p>
            </article>
          </a>
        ))
      }
    </section>
  </main>
</Layout>
